.label-text{
	position: relative;
	width: 90%;
	color: rgb(0, 0, 0);
	font-size: 35px;
	top: 40px;
	left: 40px;
}

iframe{
	position: relative;
	margin-top: 100px;
	margin-left: 50px;
	border-radius: 10px;
}

form{
	position: fixed;
	right: 100px;
	top: 150px;
	width: 400px;
	height: 500px;
	background: #e2b478;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

input{
	position: relative;
	margin: 20px 20px 0 20px;
	height: 30px;
	padding: 0 10px;
	border-radius: 10px;
	border: none;
	background: #f1dfdf;
	color: #000000;
	transition: .2s;
}

#btn{
	position: relative;
	margin: 20px 20px 0 20px;
	height: 30px;
	padding: 0 10px;
	border-radius: 10px;
	border: none;
	background: #ffffff;
	color: rgb(32, 27, 27);
	transition: .2s;
}

input[type="submit"]:hover{
	background: rgb(218, 193, 82);
}


textarea{
	position: relative;
	resize: none;
	margin: 20px 20px 0 20px;
	height: 250px;
	padding: 10px 10px;
	border-radius: 10px;
	border: none;
	background: #f1dfdf;
	color: rgb(29, 18, 18);
}