@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&family=PT+Serif&family=Roboto+Slab:wght@300;500&family=Roboto:wght@300&family=Shizuru&family=Tiro+Bangla&display=swap');

/* ===== Обнуление ===== */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', serif;
}

.tel{
	display: none;
}

nav{
	width: 500px;
}
