<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Проект.Properties.Settings.PolyclinicConnectionString"
            connectionString="Data Source=ANONIMPC\SQLEXPRESS;Initial Catalog=&quot;Отделение платных услуг поликлиники&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>